.groupon-item {
    margin: 1rem 0;
}
.groupon-item > div {
    padding: 0 0.5rem;
}
.groupon-item .title {
    font-size: 1rem;
    font-weight: bold;
    color: #333333;
    line-height: 1.5;
    padding-top: 0.5rem;
}
.groupon-item .intro {
    color: #999999;
    font-size: 0.8rem;
}
.groupon-item .price {
    line-height: 2rem;
}
.order-price:before,
.original-price:before {
    content: '¥'
}
.groupon-item .order-price {
    font-size: 1.2rem;
    line-height: 1.33;
    color: #f39800;
    margin-right: 0.3rem;
}
.groupon-item .original-price {
    font-size: 0.8rem;
    line-height: 1.33;
    color: #999;
    margin-right: 0.3rem;
    text-decoration: line-through;
}
.groupon-item .discount {
    font-size: 0.8rem;
    line-height: 1.33;
    color: #f39800;
    border: 1px #f39800 solid;
    padding: 0 0.2rem;
}
.groupon-item .statistics {
    color: #999;
    font-size: 0.8rem;
    line-height: 2rem;
    border-top: 1px #ebebeb solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.groupon-item .statistics span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.publish-success {
    color: #009d7a;
    font-size: 1.2rem;
    font-family: 微软雅黑;
    font-weight: normal;
    text-align: center;
    padding: 1.6rem;
    display: flex;
    display: -webkit-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.publish-success .icon-roundcheck {
    font-size: 3rem;
    margin-right: 0.5rem;
    color: #f39800;
}
.publish-success.audit {
    background: url(../images/audit.png) no-repeat 17rem 0;
    background-size: 6rem;
}
.publish-success-tips {
    color: #999;
    font-size: 0.8rem;
    margin: 0 2.5rem 1rem;
}
.view-publish-detail {
    text-align: center;
    padding: 1rem;
}

.detail-groupon-item {
    padding: 1rem 0;
}
.detail-groupon-item .price {
    margin-top: 0.5rem;
}
.view-other-groupon {
    color: #f39800;
    font-size: 0.6rem;
    text-align: right;
    align-self: flex-end;
}
.view-other-groupon .icon-right {
    font-size: .6rem;
}
.depart-info {
    margin: 1.5rem 0 0.6rem;
}
.location {
    color: #999999;
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
}
.btn.phone, .btn.address {
    width: 90%;
    height: 2.2rem;
    color: #999;
}
.btn .address {
    float: right;
}
.detail-pictures {
    margin-top: 2rem;
}
.detail-pictures .img {
    width: 100%;
    margin: .5rem 0;
}
.btn.share {
    padding: 0 1rem;
    font-size: 0.8rem;
    height: 2.2rem;
    float: right;
    margin: 0.2rem 1rem;
}
.bottom .order-price {
    font-size: 1.8rem;
    line-height: 1.33;
    color: #f39800;
    margin-left: 0.8rem;
}
.bottom .original-price {
    font-size: 1rem;
    line-height: 1.33;
    color: #999;
    margin-right: 0.3rem;
    text-decoration: line-through;
}

.verifid-count {
    line-height: 4rem;
    text-indent: 1rem;
    margin-top: 0.2rem;
    position: relative;
}
.verifid-count:after {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.2rem;
    background: transparent;
    border: 2px solid #ddd;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.verifid-count div {
    display: inline-block;
    position: absolute;
    right: 2rem;
}
.verifid-count span {
    color: #f39800;
    font-size: 1.1rem;
}
.verifid-count span:after {
    content: '人';
}
.scanner {
    background: url(../images/right.png) no-repeat;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-size: contain;
    margin: 0 0.5rem;
}
.verify-by-WX {
    color: #999999;
    margin: 0.5rem 0;
    padding: 1rem;
}
.verify-by-WX i {
    font-size: 2rem;
    margin: 0 1rem;
}
.verify-by-input {
    padding: 1rem;
}
#verifyCode {
    width: auto;
    height: 2.2rem;
}
#verifyBtn {
    padding: 0 1rem;
    height: 2.2rem;
    float: right;
}

.verifid-list-count {
    margin: .4rem 0;
    padding: .5rem;
    text-align: right;
    position: fixed;
    width: 100%;
    right: 0;
}
.verifid-student {
    margin-bottom: .2rem;
    padding: 1rem;
}
.verifid-student span {
    display: inline-block;
}
.verifid-student .icon-phone {
    color: #999;
    font-size: 1.2rem;
}
.verifid-student .right {
    width: 8rem;
    float: right;
    text-align: right;
}
.verifid-student .second-row {
    color: #999;
    font-size: .6rem;
    clear: both;
}
.verifid-student a {
    text-decoration: none;
    color: black;
}
.list-wrap {
    padding-top: 3rem;
}

.book-success {
    color: #009d7a;
    font-size: 1.2rem;
    font-family: 微软雅黑;
    font-weight: normal;
    text-align: center;
    padding: 1.6rem 0 .5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.book-success .icon-roundcheck {
    font-size: 3rem;
    margin-right: 0.5rem;
    color: #f39800;
}
.book-success-tips {
    color: #999;
    font-size: 0.8rem;
    margin: 0 2rem 1rem;
    line-height: 1.5rem;
}
.qrcode {
    width: 100%;
    height: 9rem;
}
.qrcode img {
    width: 9rem;
    margin: 0 auto;
}
.qrcode-tip {
    color: #666666;
    font-size: .8rem;
    margin: 0.5rem;
}
.book-success-wrap .location {
    border-top: 1px #dcdcdc solid;
    padding: .4rem;
}
.book-success-wrap .school {
    font-size: 1.1rem;
    color: #666666;
    line-height: 2rem;
}
.book-success-wrap .course {
    color: #666666;
    line-height: 2rem;
}
.my-verify-code {
    color: #f39800;
    border-top: 2px #dcdcdc solid;
    padding: 1rem 0;
}

.input-bind-phone {
    width: 80%;
    background: white;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
}
.input-bind-phone .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.input-bind-phone .row .text {
    margin: 0 0.5rem;
    height: 2.4rem;
}
.input-bind-phone .row .col2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}
.input-bind-phone .row .col1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.input-bind-phone .tips {
    font-size: 0.8rem;
    color: #999;
    margin: 1rem;
}
.input-bind-phone .count-down, .input-bind-phone .count-down i {
    font-size: 1.2rem;
    margin-right: .5rem;
}
.btn-group {
    text-align: center;
}
.btn-group button {
    margin: 0 1rem;
}
.share-group {
    position: fixed;
    right: 0;
    bottom: 3.5rem;
    width: 0;
    opacity: 0;
    padding: 0.2rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.share-group.to-show {
    width: 100%;
    opacity: 1;
    animation: showShareBtns .4s linear;
    /* Safari 与 Chrome: */
    -webkit-animation: showShareBtns .4s linear;
}
.share-group [class^=share] {
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: gainsboro;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 0.8rem;
}

@keyframes showShareBtns
{
    0%   {opacity: 0; width: 0;}
    30%  {opacity: 1; width: 30%;}
    100% {opacity: 1; width: 100%;}
}

@-moz-keyframes showShareBtns /* Firefox */
{
    0%   {opacity: 0; width: 0;}
    30%  {opacity: 1; width: 30%;}
    100% {opacity: 1; width: 100%;}
}

.share-btn {
    background: url(../images/share-btns.png) no-repeat;
}

.share-QZone {
    height: 60px;
    width: 60px;
    background-position: 0 0;
}

.share-appmsg {
    height: 60px;
    width: 60px;
    background-position: -60px 0;
}

.share-timeline {
    height: 60px;
    width: 60px;
    background-position: -120px 0;
}

.share-QQ {
    height: 60px;
    width: 60px;
    background-position: -180px 0;
}